body{
font-family: Verdana;
background-image: url(https://i.pinimg.com/564x/83/c9/43/83c94368204cde2b441ec407f30dca78.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

 }
 .oneclick{
    color: rgb(227, 38, 224);
    justify-content: center;
    margin-left: 40%;
    margin-top: 3%;
    border: none;
    color: rgb(227, 194, 223);
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 0px;
    background-color: rgb(211, 109, 171);
    border: 2px solid#e3937f;
    background: #e78282; color: rgb(225, 150, 196);
    font-family: arial;
 }

.fondo{
    width: 5000px;
    height: 5000px;

}
.titulo1{
    font-family: arial;
    justify-content: center;
}

.login{
    
    font-size: 80%;
    width: 400px;
    height: 300px;
    background-color: rgba(245, 174, 130, 0.815);
    margin: auto;
    margin-top: 15%;
    box-shadow: 7px 12px 32px;
    padding: 20px 30px;
    
}
.logino{
    font-size: 70%;
    width: 400px;
    height: 300px;
    background-color: rgba(245, 174, 130, 0.815);
    margin: auto;
    margin-top: 10%;
    box-shadow: 7px 12px 32px;
    padding: 20px 30px;
    

}
.titulo1{
    margin-right: 30%;
    font-family: arial;
    font-size: 500%;
    
    }
.button{
    color: rgb(255, 255, 255);
    justify-content: center;
    margin-left: 40%;
    margin-top: 2%;
    border: none;
    color: rgb(255, 255, 255);
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 0px;
    background-color: rgb(211, 109, 171);
    border: 2px solid#c9438a;
    background: #efe5ec; color: rgb(225, 150, 196);
    font-family: arial;
    
}
.prin-cuerpo{
    font-size: 105%;
    font-family: arial;
}
.menu{
   margin-left: 0%;
   background-color: rgba(245, 174, 130, 0.815);
   border: 2px #e0a9bb;
   font-size: 130%;
   
   
}
.registrarm{
    margin-left: 30%;
}
.contacto{
    font-family: arial;
    font-weight: 40px;
    
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


.subirArchivo{
    color: #d660a1;
    margin-top: 100%;
    margin-left: 90%;
}


.proyectos.html{
    background-image: url(https://i.pinimg.com/564x/83/c9/43/83c94368204cde2b441ec407f30dca78.jpg);
}
.imgs{
   height: 400px;
   margin-left: 60%;
}
.teximg1{
   
    margin-right:60%
}
.container1 {
    display: flex; /* Usa flexbox para alinear elementos */
    align-items: center; /* Alinea verticalmente */
  }
.imagen {
    width: 600px; /* Tamaño de la imagen */
    height: 500px; /* Altura automática */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }



  /* Estilos para el contenedor de la imagen */
#imagenContainer {
    margin-top: 20px;
  }
  
  /* Estilos para la imagen */
  #imagenPreview {
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    max-height: 300px; /* Limita la altura máxima de la imagen */
  }
  